# Ignore node_modules for both frontend & backend
npm-debug.log*
yarn-error.log*

# Ignore environment variables (security reasons)
gym-management-backend/.env
gym-management-frontend/.env
.env

# Ignore build outputs
gym-management-frontend/build/
gym-management-backend/dist/

# Ignore log files
logs/
*.log
gym-management-backend/logs/
gym-management-frontend/logs/

# Ignore database-related files
*.sql
*.sqlite
*.db

# Ignore VS Code workspace settings
.vscode/
